/node_modules
/public/hot
/public/storage
/public/img/series/*.jpg
/public/img/series/*.png
/public/img/series/*.jpeg
/public/img/ministers/*.jpg
/public/img/ministers/*.png
/public/img/ministers/*.jpeg
/public/img/messages/*.jpg
/public/img/messages/*.png
/public/img/messages/*.jpeg
/public/img/books/*.jpg
/public/img/books/*.png
/public/img/books/*.jpeg
/public/img/articles/*.jpg
/public/img/articles/*.png
/public/img/articles/*.jpeg
/public/img/photos/*.jpg
/public/img/photos/*.png
/public/img/photos/*.jpeg
/public/img/headers/*.jpg
/public/img/headers/*.png
/public/img/headers/*.jpeg
/public/img/sliders/*.jpg
/public/img/sliders/*.png
/public/img/sliders/*.jpeg
/public/img/series/compressed/*.jpg
/public/img/series/compressed/*.png
/public/img/series/compressed/*.jpeg
/public/img/ministers/compressed/*.jpg
/public/img/ministers/compressed/*.png
/public/img/ministers/compressed/*.jpeg
/public/img/messages/compressed/*.jpg
/public/img/messages/compressed/*.png
/public/img/messages/compressed/*.jpeg
/public/img/books/compressed/*.jpg
/public/img/books/compressed/*.png
/public/img/books/compressed/*.jpeg
/public/img/articles/compressed/*.jpg
/public/img/articles/compressed/*.png
/public/img/articles/compressed/*.jpeg
/public/img/photos/compressed/*.jpg
/public/img/photos/compressed/*.png
/public/img/photos/compressed/*.jpeg
/public/img/headers/compressed/*.jpg
/public/img/headers/compressed/*.png
/public/img/headers/compressed/*.jpeg
/public/img/sliders/compressed/*.jpg
/public/img/sliders/compressed/*.png
/public/img/sliders/compressed/*.jpeg
/public/audio/*.mp3
/public/audio/messages/*.mp3
/public/document/books/*.pdf
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
