/node_modules
/public/hot
/public/storage
/public/img/series/*.jpg
/public/img/series/compressed/*.jpg
/public/audio/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
