/node_modules
/public/hot
/public/storage
/public/img/series/*.jpg
/public/img/series/*.png
/public/img/series/*.jpeg
/public/img/messages/*.jpg
/public/img/messages/*.png
/public/img/messages/*.jpeg
/public/img/books/*.jpg
/public/img/books/*.png
/public/img/books/*.jpeg
/public/img/series/compressed/*.jpg
/public/img/series/compressed/*.png
/public/img/series/compressed/*.jpeg
/public/img/messages/compressed/*.jpg
/public/img/messages/compressed/*.png
/public/img/messages/compressed/*.jpeg
/public/img/books/compressed/*.jpg
/public/img/books/compressed/*.png
/public/img/books/compressed/*.jpeg
/public/audio/*.mp3
/public/audio/messages/*.mp3
/public/document/books/*.pdf
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
